In [ ]:
import pandas as pd
import random
import numpy as np

# Generate random data with missing values
data = {
    'Id': [i+1 for i in range(500)],
    'Gender': [random.choice(['M', 'F', np.nan]) for _ in range(500)],
    'Age': [random.randint(18, 65) if random.random() > 0.1 else np.nan for _ in range(500)],
    'Income': [random.randint(20000, 150000) if random.random() > 0.2 else np.nan for _ in range(500)],
    'Height': [random.uniform(150, 190) if random.random() > 0.1 else np.nan for _ in range(500)],
    'Weight': [random.uniform(50, 100) if random.random() > 0.1 else np.nan for _ in range(500)]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Save DataFrame to a CSV file
df.to_csv('sample_dataset_pandas.csv', index=False)

print("Dataset saved to 'sample_dataset_pandas.csv'")

Dataset saved to 'sample_dataset_pandas.csv'

In [ ]:
import pandas as pd

# Read CSV data
pd.read_csv('sample_dataset_pandas.csv')

      Id Gender   Age    Income      Height     Weight
0      1      M  52.0       NaN  173.340463  88.475424
1      2    NaN  30.0   86986.0  155.087562  51.015234
2      3      F  53.0   79103.0  180.704924  50.010619
3      4      M  52.0       NaN  166.484992  66.374796
4      5      M  38.0   62803.0  167.169641  96.596397
..   ...    ...   ...       ...         ...        ...
495  496      F  27.0   82248.0  186.420853        NaN
496  497    NaN  29.0   95598.0  189.031045        NaN
497  498      F  54.0  139176.0  175.316546  53.428135
498  499      M   NaN   33437.0  169.996064  71.881553
499  500    NaN   NaN   64910.0  150.918785  95.550234

[500 rows x 6 columns]

In [ ]:
# Read CSV data into a DataFrame
df = pd.read_csv('sample_dataset_pandas.csv')

In [ ]:
df

      Id Gender   Age    Income      Height     Weight
0      1      M  52.0       NaN  173.340463  88.475424
1      2    NaN  30.0   86986.0  155.087562  51.015234
2      3      F  53.0   79103.0  180.704924  50.010619
3      4      M  52.0       NaN  166.484992  66.374796
4      5      M  38.0   62803.0  167.169641  96.596397
..   ...    ...   ...       ...         ...        ...
495  496      F  27.0   82248.0  186.420853        NaN
496  497    NaN  29.0   95598.0  189.031045        NaN
497  498      F  54.0  139176.0  175.316546  53.428135
498  499      M   NaN   33437.0  169.996064  71.881553
499  500    NaN   NaN   64910.0  150.918785  95.550234

[500 rows x 6 columns]

In [ ]:
df.head()

   Id Gender   Age   Income      Height     Weight
0   1      M  52.0      NaN  173.340463  88.475424
1   2    NaN  30.0  86986.0  155.087562  51.015234
2   3      F  53.0  79103.0  180.704924  50.010619
3   4      M  52.0      NaN  166.484992  66.374796
4   5      M  38.0  62803.0  167.169641  96.596397

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.dtypes

Id          int64
Gender     object
Age       float64
Income    float64
Height    float64
Weight    float64
dtype: object

In [ ]:
# Get the shape of the DataFrame (attribute)
shape = df.shape
print(shape)  # Output: (rows, columns)

(500, 6)

In [ ]:
# Excercise 2.1
df.tail()

      Id Gender   Age    Income      Height     Weight
495  496      F  27.0   82248.0  186.420853        NaN
496  497    NaN  29.0   95598.0  189.031045        NaN
497  498      F  54.0  139176.0  175.316546  53.428135
498  499      M   NaN   33437.0  169.996064  71.881553
499  500    NaN   NaN   64910.0  150.918785  95.550234

In [ ]:
# Excercise 2.1
df.columns

Index(['Id', 'Gender', 'Age', 'Income', 'Height', 'Weight'], dtype='object')

In [ ]:
# Display the first 5 rows using the head method
first_rows = df.head(3)
print(first_rows)

   Id Gender   Age   Income      Height     Weight
0   1      M  52.0      NaN  173.340463  88.475424
1   2    NaN  30.0  86986.0  155.087562  51.015234
2   3      F  53.0  79103.0  180.704924  50.010619

In [ ]:
summary = df.describe()
print(summary)

               Id         Age         Income      Height      Weight
count  500.000000  445.000000     393.000000  451.000000  449.000000
mean   250.500000   40.860674   87080.781170  169.250056   74.371266
std    144.481833   14.216106   37304.405595   11.179660   14.257754
min      1.000000   18.000000   20822.000000  150.154814   50.010619
25%    125.750000   28.000000   56683.000000  159.422569   61.995145
50%    250.500000   41.000000   86986.000000  168.962056   74.450308
75%    375.250000   53.000000  118871.000000  178.063450   86.017943
max    500.000000   65.000000  149854.000000  189.957296   99.913531

In [ ]:
pd.unique(df['Gender'])

array(['M', nan, 'F'], dtype=object)

In [ ]:
# Excercise 2.2
age_list = pd.unique(df['Age'])
len(age_list)

49

In [ ]:
df['Id'].nunique()

500

In [ ]:
info = df.info()
print(info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      500 non-null    int64
 1   Gender  334 non-null    object
 2   Age     445 non-null    float64
 3   Income  393 non-null    float64
 4   Height  451 non-null    float64
 5   Weight  449 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 23.6+ KB
None

In [ ]:
# # Excercise 2.3
# df['Name']

In [ ]:
age_std = df['Age'].std()
print("Age Standard Deviation:", age_std)

Age Standard Deviation: 14.216105715231947

In [ ]:
gender_counts = df['Gender'].value_counts()
print(gender_counts)

M    181
F    153
Name: Gender, dtype: int64

In [ ]:
df['Income'].describe()

count       393.000000
mean      87080.781170
std       37304.405595
min       20822.000000
25%       56683.000000
50%       86986.000000
75%      118871.000000
max      149854.000000
Name: Income, dtype: float64

In [ ]:
df['Income'].max()

149854.0

In [ ]:
# Group data by sex
grouped_data = df.groupby('Gender')

# Provide the mean for each numeric column by sex
grouped_data.mean(numeric_only=True)

                Id        Age        Income      Height     Weight
Gender
F       251.209150  39.525180  91179.564516  170.617216  72.287848
M       254.093923  43.069182  90293.838235  168.041566  75.110443

In [ ]:
# Multiply all weight values by 2
df['Weight']*2

0      176.950848
1      102.030468
2      100.021237
3      132.749593
4      193.192793
          ...
495           NaN
496           NaN
497    106.856270
498    143.763107
499    191.100469
Name: Weight, Length: 500, dtype: float64

In [ ]:
# Select the 'Gender' column
df['Gender']

0        M
1      NaN
2        F
3        M
4        M
      ...
495      F
496    NaN
497      F
498      M
499    NaN
Name: Gender, Length: 500, dtype: object

In [ ]:
# Select the 'Age' and 'Income' columns
age_income_columns = df[['Age', 'Income']]
print("\nSelected Age and Income columns:\n", age_income_columns)

Selected Age and Income columns:
       Age    Income
0    52.0       NaN
1    30.0   86986.0
2    53.0   79103.0
3    52.0       NaN
4    38.0   62803.0
..    ...       ...
495  27.0   82248.0
496  29.0   95598.0
497  54.0  139176.0
498   NaN   33437.0
499   NaN   64910.0

[500 rows x 2 columns]

In [ ]:
df.Gender

0        M
1      NaN
2        F
3        M
4        M
      ...
495      F
496    NaN
497      F
498      M
499    NaN
Name: Gender, Length: 500, dtype: object

In [ ]:
age_income_columns = df[['Age', 'Income']]

In [ ]:
# Sample list
my_list = [10, 20, 30, 40, 50, 60, 70, 80]

# Getting specific elements
element_at_index_2 = my_list[2]
print("Element at index 2:", element_at_index_2)

# Getting a set of elements
subset = my_list[2:5]
print("Subset from index 2 to 4:", subset)

# Getting first few elements
first_three_elements = my_list[:3]
print("First three elements:", first_three_elements)

# Getting last few elements
last_two_elements = my_list[-2:]
print("Last two elements:", last_two_elements)

Element at index 2: 30
Subset from index 2 to 4: [30, 40, 50]
First three elements: [10, 20, 30]
Last two elements: [70, 80]

In [ ]:
# # Exercise 2.4
# my_list[len(my_list)]

In [ ]:
# Slice rows 1 to 3 and columns 'Gender' and 'Age'
sliced_rows_columns_loc = df.loc[1:3, ['Gender', 'Age']]
print("Sliced Rows and Columns using .loc:\n", sliced_rows_columns_loc)

Sliced Rows and Columns using .loc:
   Gender   Age
1    NaN  30.0
2      F  53.0
3      M  52.0

In [ ]:
# Slice rows 1 to 3 and columns at index 1 to 3
sliced_rows_columns_iloc = df.iloc[1:4, 1:4]
print("Sliced Rows and Columns using .iloc:\n", sliced_rows_columns_iloc)

Sliced Rows and Columns using .iloc:
   Gender   Age   Income
1    NaN  30.0  86986.0
2      F  53.0  79103.0
3      M  52.0      NaN

In [ ]:
# Subset data for individuals with age > 25
subset_age_gt_25 = df[df['Age'] > 25]
print("Subset of individuals with age > 25:\n", subset_age_gt_25)

Subset of individuals with age > 25:
       Id Gender   Age    Income      Height     Weight
0      1      M  52.0       NaN  173.340463  88.475424
1      2    NaN  30.0   86986.0  155.087562  51.015234
2      3      F  53.0   79103.0  180.704924  50.010619
3      4      M  52.0       NaN  166.484992  66.374796
4      5      M  38.0   62803.0  167.169641  96.596397
..   ...    ...   ...       ...         ...        ...
493  494      M  57.0   74207.0         NaN  67.345665
494  495      M  31.0  108131.0  181.135514  53.043146
495  496      F  27.0   82248.0  186.420853        NaN
496  497    NaN  29.0   95598.0  189.031045        NaN
497  498      F  54.0  139176.0  175.316546  53.428135

[364 rows x 6 columns]

In [ ]:
# Subset data for individuals with age > 25 and income > 60000
subset_age_income = df[(df['Age'] > 25) & (df['Income'] > 60000)]
print("Subset of individuals with age > 25 and income > 60000:\n", subset_age_income)

Subset of individuals with age > 25 and income > 60000:
       Id Gender   Age    Income      Height     Weight
1      2    NaN  30.0   86986.0  155.087562  51.015234
2      3      F  53.0   79103.0  180.704924  50.010619
4      5      M  38.0   62803.0  167.169641  96.596397
5      6      F  53.0  143938.0  177.405917  60.135246
6      7      F  61.0   79088.0  164.580826        NaN
..   ...    ...   ...       ...         ...        ...
493  494      M  57.0   74207.0         NaN  67.345665
494  495      M  31.0  108131.0  181.135514  53.043146
495  496      F  27.0   82248.0  186.420853        NaN
496  497    NaN  29.0   95598.0  189.031045        NaN
497  498      F  54.0  139176.0  175.316546  53.428135

[211 rows x 6 columns]

In [ ]:
# Subset data for individuals with age <= 25
subset_age_le_25 = df[~(df['Age'] > 25)]
print("Subset of individuals with age <= 25:\n", subset_age_le_25)

Subset of individuals with age <= 25:
       Id Gender   Age    Income      Height     Weight
7      8      F  18.0       NaN  166.881394  97.867281
17    18    NaN  23.0  107815.0  158.241821  62.868397
21    22      F  19.0       NaN  178.070435  77.123758
23    24    NaN  24.0  106418.0  159.219077  82.831926
24    25      M  20.0   52292.0  159.207499  53.710475
..   ...    ...   ...       ...         ...        ...
486  487      F  18.0   59166.0  154.888571  74.606679
490  491    NaN  18.0  129483.0  173.583345        NaN
491  492    NaN  23.0   85732.0  176.571362  52.838066
498  499      M   NaN   33437.0  169.996064  71.881553
499  500    NaN   NaN   64910.0  150.918785  95.550234

[136 rows x 6 columns]

In [ ]:
#Excercise 2.5
new = df[~df['Gender'].isin(['M', 'F'])]
print(len(new))

print(sum(df['Gender'].isnull()))

166
166

In [ ]:
# Subsetting data using isin() function
subset_gender = df[df['Gender'].isin(['M', 'F'])]
print("Subset of data with 'Gender' values 'M' or 'F':\n", subset_gender)

Subset of data with 'Gender' values 'M' or 'F':
       Id Gender   Age    Income      Height     Weight
0      1      M  52.0       NaN  173.340463  88.475424
2      3      F  53.0   79103.0  180.704924  50.010619
3      4      M  52.0       NaN  166.484992  66.374796
4      5      M  38.0   62803.0  167.169641  96.596397
5      6      F  53.0  143938.0  177.405917  60.135246
..   ...    ...   ...       ...         ...        ...
493  494      M  57.0   74207.0         NaN  67.345665
494  495      M  31.0  108131.0  181.135514  53.043146
495  496      F  27.0   82248.0  186.420853        NaN
497  498      F  54.0  139176.0  175.316546  53.428135
498  499      M   NaN   33437.0  169.996064  71.881553

[334 rows x 6 columns]

In [ ]:
# Subsetting data using isnull() function
subset_missing_age = df[df['Age'].isnull()]
print("Subset of data with missing 'Age' values:\n", subset_missing_age)

Subset of data with missing 'Age' values:
       Id Gender  Age    Income      Height     Weight
37    38    NaN  NaN  139125.0  179.564444  70.659526
45    46      F  NaN   98904.0  178.747127  52.632537
46    47      M  NaN   67742.0  157.387273  88.253708
49    50      M  NaN  148787.0  169.076300  74.910666
56    57      M  NaN  117614.0  176.006481        NaN
67    68      F  NaN   90897.0  189.913203  77.108224
88    89    NaN  NaN   28265.0  158.972049        NaN
95    96      F  NaN  148563.0         NaN  64.167064
101  102      M  NaN       NaN  177.310227  80.349070
105  106    NaN  NaN   66182.0  188.354975  91.314856
121  122      M  NaN  127709.0  185.517309  60.790622
124  125    NaN  NaN   74553.0         NaN  75.005474
126  127      M  NaN  134561.0  184.146131  56.915031
127  128      F  NaN  141413.0         NaN  59.228702
128  129    NaN  NaN   89077.0  167.749371  76.494276
132  133      M  NaN   65713.0  160.174008  78.686652
142  143      M  NaN  145126.0  167.803154  88.785327
156  157    NaN  NaN   72650.0  181.690367  92.436171
162  163      M  NaN   97329.0  187.849644  79.798497
178  179    NaN  NaN  125351.0  171.694755  94.702454
185  186      M  NaN  145522.0  154.349966  84.696356
188  189    NaN  NaN  107201.0  161.839858  75.075765
189  190      F  NaN  124358.0  187.882490  60.429231
193  194      F  NaN       NaN  150.371875  96.263054
194  195      F  NaN  133878.0  187.783121  96.103445
212  213      M  NaN  125201.0  174.268568  52.273476
236  237      M  NaN   27966.0  171.314492  74.551254
252  253      M  NaN   48063.0  186.742249  84.290519
253  254      F  NaN   55101.0  184.144654  78.786838
295  296      M  NaN       NaN  166.232884  69.278175
303  304    NaN  NaN   89368.0  175.183757  92.668486
310  311      M  NaN       NaN  173.879187        NaN
316  317      M  NaN   78957.0  168.873185  54.266614
321  322    NaN  NaN   45127.0  180.007742  63.109346
323  324    NaN  NaN   60585.0  168.598181  68.411093
326  327      F  NaN  117871.0  172.023383  76.446836
332  333    NaN  NaN       NaN         NaN  66.240176
347  348      M  NaN   91826.0  176.337277  75.513513
350  351    NaN  NaN   86871.0         NaN  94.851392
362  363    NaN  NaN   59219.0  186.535745  89.960697
363  364      M  NaN       NaN  169.630876  88.587394
366  367      F  NaN  134878.0  156.356801  56.331658
392  393      F  NaN   58644.0  177.297126  60.491065
408  409    NaN  NaN   82343.0  179.828619        NaN
413  414    NaN  NaN  136680.0  169.856799  69.484210
415  416      M  NaN  141799.0  171.168255  91.853772
420  421      M  NaN       NaN  166.759788  87.267930
426  427      M  NaN   29253.0  154.374181  51.642342
439  440      F  NaN  100646.0  173.054864  65.619251
445  446    NaN  NaN   37572.0  158.429867  78.194203
468  469    NaN  NaN   42314.0  173.867221  78.778593
476  477      F  NaN       NaN  182.087021  81.242735
477  478      F  NaN   38546.0  168.407310  69.227814
498  499      M  NaN   33437.0  169.996064  71.881553
499  500    NaN  NaN   64910.0  150.918785  95.550234

In [ ]:
# Excercise 2.6
gender_counts = df['Gender'].value_counts()
print(gender_counts)

M    181
F    153
Name: Gender, dtype: int64